# directories
broadcast
cache
coverage
node_modules
out
lib
/.github

# files
*.env
*.log
.DS_Store
.pnp.*
bun.lockb
lcov.info
package-lock.json
pnpm-lock.yaml
yarn.lock

# build
/artifacts
/typechain
/abi.ts
/dist

# VS Code extension
/.wake